.contact{
    height: 70vh;
    width: 100%;
    border: 0px solid blue;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.contact_content{
    width: 51%;
    height: 65vh;
    border: 0px solid green;
}